.nav-item{
    font-weight: bold;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}